@keyframes fade-in {
  from {
    background-color: black;
    color: black;
  }
  to {
    background-color: white;
    color: black;
  }
}

body {
  text-align: center;
  font-family: monospace;

  animation-name: fade-in;
  animation-duration: 1s;
}

ul {
  width: 20em;
  list-style-position: inside;
  text-align: left;
  padding: 0;
  margin: auto;
}
